
@font-face {font-family: "coicon";
  src: url('iconfont.eot?t=1499153232931'); /* IE9*/
  src: url('iconfont.eot?t=1499153232931#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499153232931') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499153232931') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499153232931#coicon') format('svg'); /* iOS 4.1- */
}

.coicon {
  font-family:"coicon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coicon-appreciate:before { content: "\e644"; }

.coicon-check:before { content: "\e645"; }

.coicon-close:before { content: "\e646"; }

.coicon-edit:before { content: "\e649"; }

.coicon-emoji:before { content: "\e64a"; }

.coicon-favorfill:before { content: "\e64b"; }

.coicon-favor:before { content: "\e64c"; }

.coicon-loading:before { content: "\e64f"; }

.coicon-locationfill:before { content: "\e650"; }

.coicon-location:before { content: "\e651"; }

.coicon-phone:before { content: "\e652"; }

.coicon-roundcheckfill:before { content: "\e656"; }

.coicon-roundcheck:before { content: "\e657"; }

.coicon-roundclosefill:before { content: "\e658"; }

.coicon-roundclose:before { content: "\e659"; }

.coicon-roundrightfill:before { content: "\e65a"; }

.coicon-roundright:before { content: "\e65b"; }

.coicon-search1:before { content: "\e65c"; }

.coicon-taxi:before { content: "\e65d"; }

.coicon-timefill:before { content: "\e65e"; }

.coicon-time:before { content: "\e65f"; }

.coicon-unfold:before { content: "\e661"; }

.coicon-search:before { content: "\e738"; }

.coicon-more:before { content: "\e6b3"; }

.coicon-success:before { content: "\e66a"; }

.coicon-back:before { content: "\e600"; }

.coicon-field-error:before { content: "\e60b"; }

.coicon-field-warning:before { content: "\e60c"; }

.coicon-accessory:before { content: "\e6dd"; }

.coicon-activity:before { content: "\e6de"; }

.coicon-activity_fill:before { content: "\e6df"; }

.coicon-add:before { content: "\e6e0"; }

.coicon-addition_fill:before { content: "\e6e1"; }

.coicon-addition:before { content: "\e6e2"; }

.coicon-addpeople_fill:before { content: "\e6e3"; }

.coicon-addpeople:before { content: "\e6e4"; }

.coicon-addressbook_fill:before { content: "\e6e5"; }

.coicon-addressbook:before { content: "\e6e6"; }

.coicon-barrage_fill:before { content: "\e6e7"; }

.coicon-barrage:before { content: "\e6e8"; }

.coicon-browse_fill:before { content: "\e6e9"; }

.coicon-browse:before { content: "\e6ea"; }

.coicon-brush:before { content: "\e6eb"; }

.coicon-brush_fill:before { content: "\e6ec"; }

.coicon-businesscard_fill:before { content: "\e6ed"; }

.coicon-businesscard:before { content: "\e6ee"; }

.coicon-camera_fill:before { content: "\e6ef"; }

.coicon-camera:before { content: "\e6f0"; }

.coicon-clock_fill:before { content: "\e6f1"; }

.coicon-clock:before { content: "\e6f2"; }

.coicon-close1:before { content: "\e6f3"; }

.coicon-collection_fill:before { content: "\e6f4"; }

.coicon-collection:before { content: "\e6f5"; }

.coicon-computer_fill:before { content: "\e6f6"; }

.coicon-computer:before { content: "\e6f7"; }

.coicon-coordinates_fill:before { content: "\e6f8"; }

.coicon-coordinates:before { content: "\e6f9"; }

.coicon-coupons_fill:before { content: "\e6fa"; }

.coicon-coupons:before { content: "\e6fb"; }

.coicon-createtask_fill:before { content: "\e6fc"; }

.coicon-createtask:before { content: "\e6fd"; }

.coicon-customerservice_fill:before { content: "\e6fe"; }

.coicon-customerservice:before { content: "\e6ff"; }

.coicon-delete_fill:before { content: "\e700"; }

.coicon-delete:before { content: "\e701"; }

.coicon-document:before { content: "\e702"; }

.coicon-document_fill:before { content: "\e703"; }

.coicon-dynamic_fill:before { content: "\e704"; }

.coicon-dynamic:before { content: "\e705"; }

.coicon-editor:before { content: "\e706"; }

.coicon-eit:before { content: "\e707"; }

.coicon-emoji_fill:before { content: "\e708"; }

.coicon-emoji1:before { content: "\e709"; }

.coicon-empty:before { content: "\e70a"; }

.coicon-empty_fill:before { content: "\e70b"; }

.coicon-enter:before { content: "\e70c"; }

.coicon-enterinto:before { content: "\e70d"; }

.coicon-enterinto_fill:before { content: "\e70e"; }

.coicon-feedback_fill:before { content: "\e70f"; }

.coicon-feedback:before { content: "\e710"; }

.coicon-flag_fill:before { content: "\e711"; }

.coicon-flag:before { content: "\e712"; }

.coicon-flashlight:before { content: "\e713"; }

.coicon-flashlight_fill:before { content: "\e714"; }

.coicon-flip:before { content: "\e715"; }

.coicon-flip_fill:before { content: "\e716"; }

.coicon-fullscreen:before { content: "\e717"; }

.coicon-group:before { content: "\e718"; }

.coicon-group_fill:before { content: "\e719"; }

.coicon-headlines_fill:before { content: "\e71a"; }

.coicon-headlines:before { content: "\e71b"; }

.coicon-homepage_fill:before { content: "\e71c"; }

.coicon-homepage:before { content: "\e71d"; }

.coicon-integral_fill:before { content: "\e71e"; }

.coicon-integral:before { content: "\e71f"; }

.coicon-interactive_fill:before { content: "\e720"; }

.coicon-interactive:before { content: "\e721"; }

.coicon-keyboard:before { content: "\e722"; }

.coicon-label:before { content: "\e723"; }

.coicon-label_fill:before { content: "\e724"; }

.coicon-like_fill:before { content: "\e725"; }

.coicon-like:before { content: "\e726"; }

.coicon-live_fill:before { content: "\e727"; }

.coicon-live:before { content: "\e728"; }

.coicon-lock_fill:before { content: "\e729"; }

.coicon-lock:before { content: "\e72a"; }

.coicon-mail:before { content: "\e72b"; }

.coicon-mail_fill:before { content: "\e72c"; }

.coicon-manage_fill:before { content: "\e72d"; }

.coicon-manage:before { content: "\e72e"; }

.coicon-message:before { content: "\e72f"; }

.coicon-message_fill:before { content: "\e730"; }

.coicon-mine:before { content: "\e731"; }

.coicon-mine_fill:before { content: "\e732"; }

.coicon-mobilephone_fill:before { content: "\e733"; }

.coicon-mobilephone:before { content: "\e734"; }

.coicon-more1:before { content: "\e735"; }

.coicon-narrow:before { content: "\e736"; }

.coicon-offline_fill:before { content: "\e737"; }

.coicon-offline:before { content: "\e73a"; }

.coicon-order_fill:before { content: "\e73b"; }

.coicon-order:before { content: "\e73c"; }

.coicon-other:before { content: "\e73d"; }

.coicon-people_fill:before { content: "\e73e"; }

.coicon-people:before { content: "\e73f"; }

.coicon-picture_fill:before { content: "\e740"; }

.coicon-picture:before { content: "\e741"; }

.coicon-play:before { content: "\e742"; }

.coicon-play_fill:before { content: "\e743"; }

.coicon-playon_fill:before { content: "\e744"; }

.coicon-playon:before { content: "\e745"; }

.coicon-praise_fill:before { content: "\e746"; }

.coicon-praise:before { content: "\e747"; }

.coicon-prompt_fill:before { content: "\e748"; }

.coicon-prompt:before { content: "\e749"; }

.coicon-qrcode_fill:before { content: "\e74a"; }

.coicon-qrcode:before { content: "\e74b"; }

.coicon-redpacket_fill:before { content: "\e74c"; }

.coicon-redpacket:before { content: "\e74d"; }

.coicon-refresh:before { content: "\e74e"; }

.coicon-remind_fill:before { content: "\e74f"; }

.coicon-remind:before { content: "\e750"; }

.coicon-return:before { content: "\e751"; }

.coicon-right:before { content: "\e752"; }

.coicon-scan:before { content: "\e753"; }

.coicon-select_fill:before { content: "\e754"; }

.coicon-select:before { content: "\e755"; }

.coicon-send:before { content: "\e756"; }

.coicon-service_fill:before { content: "\e757"; }

.coicon-service:before { content: "\e758"; }

.coicon-setup_fill:before { content: "\e759"; }

.coicon-setup:before { content: "\e75a"; }

.coicon-share_fill:before { content: "\e75b"; }

.coicon-share:before { content: "\e75c"; }

.coicon-shielding_fill:before { content: "\e75d"; }

.coicon-shielding:before { content: "\e75e"; }

.coicon-smallscreen_fill:before { content: "\e75f"; }

.coicon-smallscreen:before { content: "\e760"; }

.coicon-stealth_fill:before { content: "\e761"; }

.coicon-stealth:before { content: "\e762"; }

.coicon-success_fill:before { content: "\e763"; }

.coicon-success1:before { content: "\e764"; }

.coicon-suspend:before { content: "\e765"; }

.coicon-switch:before { content: "\e766"; }

.coicon-systemprompt_fill:before { content: "\e767"; }

.coicon-systemprompt:before { content: "\e768"; }

.coicon-tailor:before { content: "\e769"; }

.coicon-task:before { content: "\e76a"; }

.coicon-task_fill:before { content: "\e76b"; }

.coicon-tasklist_fill:before { content: "\e76c"; }

.coicon-tasklist:before { content: "\e76d"; }

.coicon-text:before { content: "\e76e"; }

.coicon-time_fill:before { content: "\e76f"; }

.coicon-time1:before { content: "\e770"; }

.coicon-translation_fill:before { content: "\e771"; }

.coicon-translation:before { content: "\e772"; }

.coicon-trash:before { content: "\e773"; }

.coicon-trash_fill:before { content: "\e774"; }

.coicon-undo:before { content: "\e775"; }

.coicon-unlock_fill:before { content: "\e776"; }

.coicon-unlock:before { content: "\e777"; }

.coicon-video:before { content: "\e778"; }

.coicon-video_fill:before { content: "\e779"; }

.coicon-warning_fill:before { content: "\e77a"; }

.coicon-warning:before { content: "\e77b"; }

.coicon-workbench_fill:before { content: "\e77c"; }

.coicon-workbench:before { content: "\e77d"; }

.coicon-search2:before { content: "\e77e"; }

.coicon-searchfill:before { content: "\e77f"; }

.coicon-qianniu:before { content: "\e780"; }

.coicon-publishgoods_fill:before { content: "\e781"; }

.coicon-shop_fill:before { content: "\e782"; }

.coicon-transaction_fill:before { content: "\e783"; }

.coicon-packup:before { content: "\e784"; }

.coicon-unfold1:before { content: "\e785"; }

.coicon-wangwang:before { content: "\e786"; }

.coicon-financial_fill:before { content: "\e787"; }

.coicon-marketing_fill:before { content: "\e788"; }

.coicon-shake:before { content: "\e789"; }

.coicon-decoration-fill:before { content: "\e78a"; }

.coicon-field-success:before { content: "\e739"; }

