<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>mqq</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqqbrowser</string>
		<string>mttbrowser</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>com.KND.test.-.appStore</string>
		<string>com.KND.test.-.fotileKetch</string>
		<string>com.KND.test.-.alpha</string>
		<string>com.KND.test.-.sunfo</string>
		<string>com.KND.test.-.JomooPlatform</string>
		<string>com.KND.demo.huaguo</string>
		<string>com.KND.demo.yzcrm</string>
		<string>com.KND.demo.isp</string>
		<string>com.KND.test.-.pdeam</string>
		<string>com.KND.test.-.coracleoa</string>
		<string>com.KND.PD.ykreseller</string>
		<string>com.KND.test.-.pdbi</string>
		<string>com.KND.demo.pdpm</string>
		<string>com.KND.test.-.shopvisit</string>
		<string>com.KND.test.-.shopsales</string>
		<string>com.KND.test.-.pdapprove</string>
		<string>com.KND.demo.lbscheckin</string>
		<string>com.yuexiu.mpp</string>
		<string>com.KND.pubcloud</string>
		<string>999.com.cn</string>
		<string>com.coracle.appstore.dyw</string>
		<string>com.KND.test.-.lima.shop</string>
		<string>com.KND.test.-.jw</string>
		<string>com.KND.demo.isp</string>
		<string>com.KND.test.-.huadaoa</string>
		<string>com.KND.test.-.xinao</string>
		<string>com.KND.test.-.glodonoa</string>
		<string>com.KND.test.-.xuanjunlong</string>
		<string>com.KND.test.-.minaninsoa</string>
		<string>com.KND.test.-.kimree</string>
		<string>com.KND.demo.hcrqx0</string>
		<string>com.KND.test.-.glodon</string>
		<string>com.KND.demo.pubcloud</string>
		<string>com.KND.demo.qianzheng</string>
		<string>cn.szvc.sct</string>
		<string>com.KND.demo.zb</string>
		<string>cn.com.crc.cre.leaniphone</string>
		<string>com.KND.jsdv2</string>
		<string>com.KND.test.-.lima.sales</string>
		<string>com.KND.test.-.lima</string>
		<string>com.gzmetro.link</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>sina.cn</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sina.com.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sinaimg.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sinajs.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>weibo.cn</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>weibo.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>本操作将会使用到您的蓝牙</string>
	<key>NSCameraUsageDescription</key>
	<string>本操作将会使用到您的相机</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>本操作将会写入内容到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>本操作将会使用到您的相册</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
